/**
 * 上海尤恩信息技术有限公司
 * Copyright 2017-2025 uenpay
 * project : ${project}
 * package ：${package}
 * file : I${className}Service.java
 * date ：${date}
 */
package ${package};

import java.util.List;

import com.uenpay.model.CombogridSearch;
import com.uenpay.model.CombogridVO;
import ${importClass};
import com.uenpay.page.PageData;
import com.uenpay.page.PageForm;

/**
 * @author ${author}
 * Specification : 文档说明
 */
public interface I${className}Service {

	/**
	 * 分页条件查询
	 * @param form
	 * @param record  查询参数
	 * @return
	 */
	PageData queryPageData(PageForm form,${className} record);
	
	/**
	 * 分页查询
	 * @param record 查询参数
	 * @return
	 */
	List<${className}> select(${className} record);

	/**
	 * 根据主键查询记录
	 * @param id
	 * @return
	 */
	${className} getById(${privateKeyType} ${privateKey});

	/**
	 * 保存
	 * @param record
	 * @return
	 * @throws Exception
	 */
	Integer save(${className} record) throws Exception;
	
	/**
	 * 更新
	 * @param record
	 * @return
	 * @throws Exception
	 */
	Integer update(${className} record) throws Exception;
	
	/**
	 * 删除
	 * @param id
	 * @return
	 * @throws Exception
	 */
	Integer remove(${privateKeyType} ${privateKey}) throws Exception;

	/**
	 * 下拉框
	 * @param search
	 * @return
	 * @throws Exception
	 */
	List<CombogridVO> comboGridList(CombogridSearch search) throws Exception;

}
